*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: gainsboro;
}
header{
    width: 100%;
    height: 150px;
    background-color: rgb(249, 83, 83);
    text-align: center;
    padding: 30px;
    font-size: 24px;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}
.speaker-card{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 10px;
    text-align: center;
}
.speaker-card div{
    margin: 10px;
}
.profile{
    width: 200px;
    border-radius: 50%;

}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / span 3;
    align-content: space-between;
    color: red;
}
.topic{
    color: rgb(249, 83, 83);
    font-size: 18px;
}
.expertise{
    color: red;
}
.name{
    font-size: 24px;
}
.icon{
    font-size: 100px;
    border: 2px solid red;
    border-radius: 50%;
    width:120px;
    height:120px;
}
.title{
    font-style: italic;
}
.links a{
    color: red;
    text-decoration: none;
}